<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".vert" mimeType="application/vert" />
            <mimeMap fileExtension=".frag" mimeType="application/frag" />
        </staticContent>
    </system.webServer>
</configuration>
